<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/styles/salesforce-lightning-design-system.min.css' />
    <link rel='stylesheet' href='/assets/styles.css' />
  </head>
  <body>
    <div id="leftcontent" class="leftcontent">
      <div class="innertube">
        <div id='platform-events-node'>
        	<div class="slds slds-m-vertical--large slds-m-horizontal--large">
     			{{{body}}}
   			</div>
        </div>
      </div>
    </div>
  </body>
</html>
