<nav class="slds-p-bottom--medium" role="navigation">
  <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
  <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
    <li class="slds-list__item slds-text-heading--label"><a href="/">Salesforce Lightning Design System Web Demo</a></li>
  </ol>
</nav>

<!-- PAGE HEADER -->
<div class="slds-page-header" role="banner">

  <!-- PAGE HEADER TOP ROW -->
  <div class="slds-grid">

    <!-- PAGE HEADER / ROW 1 / COLUMN 1 -->
    <div class="slds-col">

      <!-- HEADING AREA -->
      <!-- MEDIA OBJECT = FIGURE + BODY -->
      <div class="slds-media">

        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-custom-88">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom88"></use>
          </svg>
        </div>

        <div class="slds-media__body">
          <p class="slds-text-heading--label">Printer Ink Level</p>
          <h1 class="slds-text-heading--medium">New Printer Ink Level</h1>
        </div>

      </div>
      <!-- / MEDIA OBJECT -->
      <!-- HEADING AREA -->

    </div>
    <!-- / PAGE HEADER / ROW 1 / COLUMN 1 -->

  </div>
  <!-- / PAGE HEADER TOP ROW -->

</div>
<!-- / PAGE HEADER -->

<!-- PRIMARY CONTENT WRAPPER -->
<div class="myapp">

  <!-- CREATE NEW PRINTER INK LEVEL EVENT -->
    <div aria-labelledby="newpieform">

      <!-- BOXED AREA -->
      <fieldset class="slds-box slds-theme--default">

        <!-- CREATE NEW PRINTER INK LEVEL EVENT FORM -->
        <form action="/" method="post" class="slds-form--stacked">

          <div class="slds-grid">
            <div class="slds-col--padded slds-size--1-of-1">

              <div class="slds-form-element slds-is-required">
                <label class="slds-form-element__label" for="customerId">Customer Id</label>
                <div class="slds-form-element__control">
                  <select name="customerId" id="customerId" class="slds-select" required>
                      <option>0100000002</option>
                      <option>0100000004</option>
                      <option>0100000005</option>
                      <option>0100000006</option>
                      <option>0100000008</option>
                  <span id="customerIdHelp" class="slds-form-element__help">You must enter a Customer Id.</span>
                </div>
              </div>

              <div class="slds-form-element">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="printerModel">Printer Model</label>
                  <div class="slds-form-element__control">
                    <select name="printerModel" id="printerModel" class="slds-select">
                      <option>Canon-PIXMA-MP990</option>
                      <option>HP-Officejet-Pro-6000</option>
                      <option>Lexmark-MS315dn-35S0160</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="slds-form-element slds-is-required">
                <label class="slds-form-element__label" for="printerInkLevel">Printer Ink Level/label>
                <div class="slds-form-element__control">
                  <input name="printerInkLevel" id="printerInkLevel" class="slds-input" type="number" required/>
                  <span id="printerInkLevelHelp" class="slds-form-element__help">You must enter a Printer Ink Level.</span>
                </div>
              </div>

            </div>

          <button class="slds-button slds-button--brand slds-m-top--medium" type="submit">Create Event</button>
        </form>
        <!-- CREATE NEW PRINTER INK LEVEL EVENT FORM -->

      </fieldset>
      <!-- / BOXED AREA -->

    </div>
    <!-- / CREATE NEW PRINTER INK LEVEL EVENT -->

</div>
<!-- / PRIMARY CONTENT WRAPPER -->
